<!-- create.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Create Order</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <h1>Create Order</h1>
    <form method="post" action="/create_O">
      <label for="CustomerID">CustomerID:</label>
      <input type="text" id="CustomerID" name="CustomerID" />
      <br />
      <label for="OrderdateID">OrderdateID:</label>
      <input type="text" id="OrderdateID" name="OrderdateID" />
      <br />
      <label for="TotalAmoount">TotalAmoount:</label>
      <input type="text" id="TotalAmoount" name="TotalAmoount" />
      <br />
      <input type="submit" value="create" />
    </form>
      <a href="/orders">Back to List</a>
  </body>
</html>